<table class="table">
  <% property.forEach( function(model) { %>
  <tr><td><%=model.name%>,<%=model.estate%></td>
    <td>
      <a href="/property/interested/<%= model.id %>">Interested Member</a>
    </td>
    <td>
      <a href="/property/edit/<%=model.id%>">Edit</a>
    </td>
    <td>
      <a href="/property/delete/<%=model.id%>">Delete</a>
    </td>
  </tr>
  <% }); %>
</table>
